{%extends 'base.html'%}

{% block title %}
Cadastro de Medicamentos
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h1 class="mt-2">Medicamentos</h1>
    <hr class="mt-0 mb-4">
    <form method="POST" class="form-group"> 
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success" name="medicine">Cadastrar</button>
        <button type="submit" class="btn btn-secondary"><a href="{% url 'home' %}">Voltar</a></button>
    </form>
{% endblock %}
